
.icon i{
  
    color:#fbc658;
}
.small-box .icon>i{
    font-size: 40px;
    top:20px;
    right:20px
}
.small-box-footer i{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.small-box{
    margin: 0px;
    
}
.small-box>.small-box-footer {
    background-color: white;
    color: black;
}

.dashboardImg {
    background-image: url('./../images/pexels-wallace-chuck-3728084.jpg');
    height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9    ;

}
.card {
    padding: 25px;
}
.customcolor:hover {
    text-decoration: none;
    background: #B54487 !important;
}